---
layout: default
---
<article class="page-article container container--measure">

  <header class="page-article__head">
    {%- if page.kicker -%}
      <p class="page-article__kicker">{{ page.kicker }}</p>
    {%- endif -%}
    <h1 class="page-article__title article__title">{{ page.title | escape }}</h1>
    {%- if page.description -%}
      <p class="page-article__deck article__deck">{{ page.description }}</p>
    {%- endif -%}
  </header>

  <div class="page-article__body article__body">
    {{ content }}
  </div>

</article>
